textarea {
  min-height: 400px;
}

button {
  margin: 10px 5px 10px 0;
}

a {
  cursor: pointer;
}

.alert_green {
  display: block;
  text-align: center;
  color: green;
}

.alert_red {
  display: block;
  text-align: center;
  color: red;
}

#emails-view > a {
  text-decoration: none;
  color: black;
  border: solid 1px;
  padding: 10px;
  display: flex;
  align-items: baseline;
}

.read {
  background-color: rgb(230, 230, 230);
}

.send_from {
  font-weight: bold;
  font-size: 18px;
  flex: 0 0 250px;
}

.subject {
  font-size: 18px;
  flex-grow: 3;
}

.timestamp {
  color: grey;
}
